body {
    font-family: 'Roboto', Montserrat, Poppin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffefd5;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #ff6347, #ff4500);
    color: white;
    border-bottom: 10px solid #ffa07a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.intro, .features, .usage, .how-it-works, .cta, .shop {
    margin-bottom: 40px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #ffa07a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.intro:hover, .features:hover, .usage:hover, .how-it-works:hover, .cta:hover, .shop:hover {
    transform: scale(1.02);
}

h2 {
    color: #ff6347;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.features ul, .usage ul, .how-it-works ol {
    list-style: none;
    padding: 0;
}

.features li, .usage li, .how-it-works li {
    margin-bottom: 10px;
    padding-left: 1.5em;
    position: relative;
}

.features li::before, .usage li::before, .how-it-works li::before {
    content: '★';
    position: absolute;
    left: 0;
    color: #ff6347;
    animation: bounce 1s infinite alternate;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 10px;
    text-align: center;
    background: #ffa07a;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.item img {
    width: 100%;
    cursor: pointer;
    border: 3px solid #ff4500;
    border-radius: 15px;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.05);
}

.item:hover {
    background: #ff6347;
    transform: scale(1.05);
}

.item video {
    width: 100%;
    border: 3px solid #ff4500;
    border-radius: 15px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto;
    display: block;
    width: fit-content;
}

.btn:hover {
    background-color: #ff450
